html, body{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}


@media (min-width: 992px){
    body{
        margin: 5vh;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 90vh;
    }
    .container{
        background-color: white;
        border-radius:20px ;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60vh 40vh ;
        padding: 30px; 
        justify-content: space-evenly; 
    }
    span{
        font-size: 25px;
        padding: 20px;
        font-weight: bold;
    }
    .appear{
        display: none;
    }
    .ultimo{
        line-height: 70px;
    }
}

@media (max-width: 992px){
    body{
        margin: 25px;
    }
    .container{
        background-color: white;
        border-radius:20px ;
        padding: 30px;
        display: flex;
        justify-content: space-between;
    }
    span{
        font-size: 25px;
        padding: 20px;
        font-weight: bold;
    }
    .appear{
        display: none;
    }
}

@media (max-width: 515px){
    body{
        margin: 20px;
    }
    .container{
        background-color: white;
        border-radius:20px ;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        height: 10vh;
        align-items: center;
    }
    span{
        font-size: 6vw;
        padding: 20px;
        font-weight: bold;
    }
    .none{
        display: none;
    }
    .appear{
        font-size: 6vw;
        padding: 20px;
        font-weight: bold;
        display: block;
        position: fixed;
        bottom: 0; 
        background-color: white;
        border-radius:20px ;
        padding: 0px;
        display: flex;
        justify-content: center;
        height: 10vh;
        align-items: center;
        width: 90%;
    }
}

@media (max-width: 350px){
    
    .container{
        background-color: white;
        border-radius:20px ;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        height: 10vh;
        align-items: center;
    }
    span{
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
    }
    .none{
        display: none;
    }
    .appear{
        font-size: 20px;
        padding: 20px;
        font-weight: bold;
        display: block;
        position: fixed;
        bottom: 0; 
        background-color: white;
        border-radius:20px ;
        padding: 0px;
        display: flex;
        justify-content: center;
        height: 10vh;
        align-items: center;
        width: 85%;
    }
}
